<!DOCTYPE html>
<html>
<head>
    <title>LCSTA | <%= title %></title>
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <link rel="icon" type="image/ico" href="images/favicon.ico">
    <link rel="stylesheet" href="/application.min.css" />
    <script src="/javascripts/jquery-2.1.3.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

    <div class = "row-header row">
        <div class = "col-lg-12 centered col-header">
            <ul id="tabs" class="nav nav-tabs navbar-header" data-tabs="tabs">
                        <li><a href="/" class= "navbar-branding" style="border-radius: 0 0 0 0; padding-right: 0.4em; padding-left: 0.4em;">LCSTA</a></li>
                         <li style="height: 100%;"><a href="/about" class= "navbar-element" style="border-radius: 0 0 0 0; padding-right: 0.4em; padding-left: 0.4em;">About</a></li>
            </ul>
        </div>
    </div>
</head>
<body>



    <div class="container round" style="min-width: 50%; text-align: center;">
        <div id="content">
        <legend><h3><b>Logic Circuit Static Timinig Analysis</b></h3></legend>
        <h4>LCSTA is an online tool to parse Verilog netlist file, prefrom static timing analysis, optimize the circuit and generate timing report.</h4>
        <p>Copyright &copy; 2015 Ahmed A. Agiza & Mohammed R. Anany </p>
        </div>
            
    </div> 
</body>
</html>